

.header {
    margin: 0;
    display: flex;
    background-color: $bgcolor;
    justify-content: center;

    .menu {
        display: flex;
        justify-content: center;

        &_list li {
            list-style-type: none;
            display: inline-block;
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 16px;
            color: $white;
            text-transform: uppercase;
            padding: 36px;
        }
    }

}